body {
    font-family: 'Parkinsans', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #04250a;
    background-color: #E7ECEF;
}

header {
    background-color: #bbd9e2;
    color: rgb(19, 18, 18);
    background-color: #c2e0e9;
    box-sizing: content-box;
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 100%;
    max-height: 175px;
}

header img {
    margin-left: 25px;
    margin-bottom: 15px;
    width: 95%;
    max-width: 300px;
    max-height: 75;
}

footer {
    background-color: #A8D5E3;
    color: rgb(19, 18, 18);
    text-align: center;
    padding: 2em 0;
    width: 100%;
    height: 175px;
    background-color: #A8D5E3;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 100%;
}

.main-container {
    display: flex;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 1em;
}

h1,
h2 {
    font-family: 'Parkinsans', sans-serif;
    color: #333;
}

/* Navigation */
#nav_menu {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    flex-wrap: wrap;
}

#nav_menu a {
    color: rgb(7, 0, 0);
    padding: 1em;
    justify-content: center;

    text-decoration: none;
    text-transform: uppercase;
}

#nav_menu a:hover {
    background-color: #ECA427;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #ECA427;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    margin-top: 2em;
}

.orange {
    margin-bottom: 1em;
    padding: 2em;
    background-color: #ebb65b;
}

.mission,
.events,
.contact,
.roundedblock,
.grid-event {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #e3e3e3;
    border-radius: 8px;
}

.footer-text {
    font-size: 0.9em;
}

/* Sidebar */
.sidebar {
    background-color: #f4f4f4;
    width: 250px;
    padding: 20px;
}

/* Main content area */
.content {
    flex: 1;
    background-color: #e2e2e2;
    padding: 20px;
}

/* Grids */
.grid-section {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 95%;
}

.grid-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;

}

.grid-item:hover {
    transform: translateY(-5px);
}

.grid-photo {
    width: 95%;
    max-width: 1000px;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    object-fit: fill;
    margin-bottom: 15px;
}

.grid-label {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 5px;
}

.grid-sublabel {
    font-size: 1em;
    color: #777;
    margin-bottom: 10px;
    font-weight: bold;
}

.grid-description {
    font-size: 0.9em;
    color: #555;
    line-height: 1.5;
    flex: 1;
    /* Makes text occupy the remaining space */
}

.event-description h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.event-description p {
    margin: 5px 0 0;
    color: #555;
    font-size: 0.9em;
    line-height: 1.4;
}

.event-item {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    align-items: center;
    text-align: left;
    gap: 1em;
    transition: transform 0.3s;

}

.event-item:hover {
    transform: translateY(-5px);
}

.event-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Layout */
@media (max-width: 768px) {

    .sidebar,
    .main-container,
    .grid-item,
    .header-img,
    {
    width: 100%;
}
}

@media (min-width: 769px) and (max-width: 1024px) {

    .sidebar,
    .main-container,
    .grid-item,
    .header-img,
    {
    width: calc(45% - 20px);
}
}

@media (min-width: 1025px) {

    .sidebar,
    .main-container,
    .grid-item,
    .header-img,
    {
    width: calc(25% - 15px);
}
}